@charset "UTF-8";

.gold-container {
  width: 92%;
  margin: 2.133333rem auto 0.266667rem;
  background: rgba(9, 11, 61, 0.8);
  text-align: center;
  border-radius: 0.4rem;
  padding-bottom: 0.2rem;
}

.gold-container .title {
  padding: 0.666667rem 0 0.533333rem;
  color: #FFF;
}

.gold-container .gold-inner {
  border-radius: 0.266667rem;
  width: 95%;
  margin: 0 auto;
  height: 6.4rem;
  border: 2px solid #364163;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.gold-container .gold-inner .frame {
  position: absolute;
  left: 0;
  /*no*/
  top: -2px;
  right: 0;
  /*no*/
  bottom: 0;
  z-index: 3;
  box-sizing: border-box;
  border-radius: 0.2rem;
  background: url("../img/gold-frame.png") no-repeat center center;
  pointer-events: none;
  background-size: 100% 100%;
  text-align: right;
}

.gold-container .gold-inner .frame .rotate {
  pointer-events: auto;
  margin: 0.266667rem 0.266667rem 0 0;
  width: 1rem;
  height: 1rem;
}

.gold-container .gold-inner .frame-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 0.2rem;
  z-index: 1;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.gold-container .gold-inner .inner-frame {
  position: absolute;
  width: 6.266667rem;
  height: 2.4rem;
  left: 50%;
  margin-left: -3.133333rem;
  top: 50%;
  margin-top: -1.2rem;
  pointer-events: none;
}

.gold-container .gold-inner .split {
  pointer-events: none;
  position: absolute;
  top: 4.266667rem;
  left: 50%;
  margin-left: -2rem;
  z-index: 3;
  width: 4rem;
  color: #FFF;
  -webkit-animation: flash 4s infinite backwards;
          animation: flash 4s infinite backwards;
}

.gold-container .gold-inner .split .hr {
  background: #FFF;
  border: 0;
  margin: 0;
  background: url("../img/gold-split.png") no-repeat center;
  background-size: 100% 100%;
}

[data-dpr="1"] .gold-container .gold-inner .split .hr {
  height: 5px;
}

[data-dpr="2"] .gold-container .gold-inner .split .hr {
  height: 10px;
}

[data-dpr="3"] .gold-container .gold-inner .split .hr {
  height: 15px;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

/**
* 按钮
*/

.btn-container {
  width: 6.933333rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.btn-container .sample {
  position: absolute;
  width: 3.066667rem;
  height: 2.266667rem;
  top: -2.266667rem;
  left: 50%;
  margin-left: -1.533333rem;
  z-index: 4;
}

.btn-container .file1 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1.2rem;
  opacity: 0;
}

.btn-container .upload {
  position: relative;
}

.btn-container .upload a {
  color: #333;
  text-decoration: underline;
}

.btn-container .upload .file2 {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -0.533333rem;
  width: 1.066667rem;
  opacity: 0;
}

.ui-btn-orange {
  height: 1.2rem;
  border-radius: 0.266667rem;
  margin-bottom: 0.666667rem;
}

.ui-btn-orange::after {
  content: "";
  position: absolute;
  background: #f28900;
  width: 7.066667rem;
  height: 1.333333rem;
  top: 0;
  left: -0.066667rem;
  z-index: -1;
  border-radius: 0.333333rem 0.333333rem 0.266667rem  0.266667rem;
  box-shadow: 0 0.133333rem 0 rgba(0, 0, 0, 0.35);
}

.ui-btn-orange[disabled] {
  background: #999;
}

.ui-btn-orange[disabled]::after {
  background: #999;
}

.ui-btn-lg::before {
  border: 0;
}