/**
* Loading
*/
.ui-loading-wrap{
  text-align: center;
  p {
    margin: 0 10px 0 0;
  }
}
.ui-loading {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 3px solid #c7c7c7;
  border-top-color: transparent;
  border-radius: 100%;
  animation: border-rotate 1s linear infinite;
}
@keyframes border-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ui-loading-wrap {
  top: 45%;
  left: 50%;
  font-size: 30px;/*px*/
  .ui-loading {
    margin-right: 10px;
    vertical-align: middle;
  }
  position: absolute;
  z-index: 10;
  width: 300px;
  margin-left: -150px;
  margin-top: -50px;
  padding: 50px 0;
  background: rgba(0,0,0,.8);
  color: #FFF;
  border-radius: 10px;
}

.gold-container {
  width: 92%;
  margin: 20px auto;
  background: rgba(9,11,61,.8);
  text-align: center;
  border-radius: 30px;
  padding-bottom: 15px;
  .title {
    padding: 40px 0;
    color: #FFF;
    font-size: 34px;/*px*/
    margin:0;
  }
  .gold-inner {
    //background: rgb(9,11,61);
    //background: #FFF;
    border-radius: 20px;
    width: 95%;
    //width: 650px;
    margin: 0 auto;
    height: 480px;
    border: 2px solid #364163;/*no*/
    position: relative;
    overflow: hidden;
    //background-clip: padding-box;
    //box-sizing: border-box;
    z-index: 2;
    .frame {
      position: absolute;
      left: 0;/*no*/
      top: -2px;/*no*/
      right: 0;/*no*/
      bottom: 0;
      z-index: 3;
      //overflow: hidden;
      box-sizing: border-box;
      //height: inherit;
      border-radius: 15px;
      background: url("../img/gold-frame.png") no-repeat center center;
      pointer-events: none;
      background-size: 100% 100%;
      text-align: right;
      //padding-top: 145px;
      .rotate {
        pointer-events: auto;
        margin: 20px 20px 0 0;
        width: 75px;
        height: 75px;
      }
      //img {
      //  width: 500px;
      //  height: 180px;
      //}
    }
    .frame-img {
      //display: block;
      //-webkit-backface-visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-radius: 15px;
      z-index: 1;
      transition: transform .1s ease;
      //height: 660px;
      //height: 100%;
    }
    .inner-frame {
      position: absolute;
      width: 470px;
      height: 180px;
      //border: 1px solid #FFF;/*no*/
      left: 50%;
      margin-left: -235px;
      top: 50%;
      margin-top: -90px;
      pointer-events: none;
      //z-index: -1;
      //z-index: 3;
    }
  }
}
/**
* 按钮
*/
.btn-container {
  width: 520px;
  margin:0 auto;
  text-align: center;
  position: relative;
  .file1 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 90px;
    opacity: 0;
  }

}

//@include _btn(orange, #ff9900, #ff9900);
.ui-btn-orange {
  border: 0;
  height: 90px;
  border-radius: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 40px;/*px*/
  color: #FFF;
  background: transparent;
  outline: none;
  &::after {
    content: "";
    position: absolute;
    background: #f28900;
    width: 530px;
    height: 100px;
    top: 0;
    left: -5px;
    z-index: -1;
    border-radius:25px 25px 20px  20px ;
    box-shadow: 0 10px 0 rgba(0,0,0,.35);
  }
  &[disabled] {
    background: #999;
  }
  &[disabled]::after {
    background: #999;
  }
}
.ui-btn-lg::before {
  border: 0;
}